[branch]
  autosetuprebase = always
[pull]
  rebase = true
[user]
  name = Charlie Imhoff
  email = cpimhoff@gmail.com
[push]
  default = simple
[core]
  pager = less -R -F
	preloadindex = true

# integrate
[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
	prompt = false

[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  merge-master-name = "!git merge-base master HEAD"

  # merge changes from a branch only if it will not result in a merge commit
  ff = merge --ff-only

  # squash a series of commits into one
  squash = "!f() { git rebase -i HEAD~$1; }; f"
  flatten = "!git rebase -i $(git merge-master-name)"

  # rebase-based merge process
  sync = "!f() { git master && git pull && git back && git rebase master; }; f"
  finalize = "!f() { git flatten && git sync && git master && git ff @{-1} && git push && git branch -d @{-1}; }; f"

  # use difftool and mergetool
  d = difftool
  resolve = mergetool -y -t Kaleidoscope

  # review commits on a feature branch
  dlast = difftool head~1
  review = "!git difftool $(git merge-master-name)"
  files = "!git diff --name-only $(git merge-master-name)"

  # publish to origin
  publish = "!git push -u origin $(git branch-name)"
  unpublish = "!git push origin :$(git branch-name)"

  # branch management
  rename = branch -m
  brarchive = "!git branch -m archive/$(git branch-name)"
  br = "!f() { git branch --color=always | grep -v '^  archive/'; }; f"

  # quicker checkouts
  back = checkout -
  self = checkout .
  master = checkout master

  # literal shortcuts
  s = status
  co = checkout
  pick = cherry-pick

  # amend a commit
  amend = commit --amend
  # folds added files into this commit without editing the commit message
  fold = commit --amend --no-edit

  # Tell git to ignore changes to a file that would otherwise be tracked by git, like config files in .idea/
  # https://stackoverflow.com/questions/1753070/how-do-i-configure-git-to-ignore-some-files-locally
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  # List all files that have been "assumed"
  assumelist  = "!git ls-files -v | grep -E '^s|^h' | cut -c 3-"

  # unstage a file (oppisite of `add`)
  unstage = reset HEAD --

  # resets all uncommited changes
  resethard = reset --hard

  # resets changes made to a specific file on a branch
  stable = "!f() { git checkout `git merge-master-name` $1; }; f"

  # log only your own changes
  logme = "!f() { git log --author=`whoami`; }; f"
  # show the last diff
  last = log -1 HEAD
  # list all recent commits
  list = log --color --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=10
  # list recent commits by me
  listme = "!f() { git log --author=`whoami` --color --graph --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit --max-count=10; }; f"

  # sparse checkouts
  sparse = sparse-checkout

  # meta
  openconfig = "!f() { code ~/.gitconfig; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[protocol]
	version = 2
